.notif {
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.notif.success {
    color: green;
    background: lightgrey;
}

.notif.error {
    color: red;
    background: mistyrose;
}